apiVersion: v1
kind: Service
metadata:
  name: payment-service
spec:
  selector:
    app: payment-service
  ports:
    - protocol: TCP
      port: 80 # The port the service exposes inside the cluster
      targetPort: 3000 # The port the container listens on
      nodePort: 30000 # Optional: Expose on a static port on the node (30000-32767)
  type: NodePort # Easier for initial testing; switch to ClusterIP + Ingress later
